[submodule "external/sst/sst-elements"]
	path = external/sst/sst-elements
	url = https://github.com/sstsimulator/sst-elements.git
	branch = v14.1.0_Final
[submodule "external/sst/sst-core"]
	path = external/sst/sst-core
	url = https://github.com/sstsimulator/sst-core.git
	branch = v14.1.0_Final
